nav {
  display: flex;
  justify-content: right;
}

.nav_list {
  z-index: 999;

  list-style: none;

  text-align: center;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: right;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.375rem);
  padding: 1.5rem;
  border-radius: 0 0 0 1.5rem;

  margin: 0;
}

.nav_list a {
  font-family: "Simply Rounded Regular";
  font-size: clamp(1rem, 3vw, 1.75rem);

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  transition: font-size ease-in-out 0.15s;
}

.nav_list a:hover,
.nav_list a:focus {
  color: #ddd;
  font-size: clamp(1.125rem, 4vw, 2rem);
}

.nav_list .current_site {
  font-size: clamp(1.125rem, 4vw, 2rem);

  font-family: "Simply Rounded Bold";
}
